---
import { getCollection } from "astro:content";

const posts = await getCollection("blog")
const sortedPosts = posts.sort(function(a, b){return a.data.pubDate.getTime() - b.data.pubDate.getTime()}).reverse()
---

<main class="flex flex-col gap-8">
  <ul class="w-full flex flex-col gap-4">
    {
      sortedPosts.map((post) => (
        <li class="flex flex-col md:flex-row justify-between md:items-center w-full gap-2">
          <header>
            <a
              class="font-mono text-neutral-100 text-lg underline underline-offset-4"
              href={`posts/${post.id}`}
            >
              {post.data.title}
            </a>
            <p class="text-neutral-400 mt-2 text-sm">
              {post.data.description}
            </p>
          </header>
          <footer>
            <p class="text-neutral-400 text-sm font-mono">
              {post.data.pubDate.toLocaleDateString()}
            </p>
          </footer>
        </li>
      ))
    }
  </ul>
</main>
