---
import { SITE_TITLE } from "../consts";
import Default from "../layouts/Default.astro";
import PostsView from "../components/PostsView.astro";
---

<Default title="Sidney Silva | Blog">
  <!-- Mostramos directamente las publicaciones -->
   <div>

   </div>
</Default>
