---
import { SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <title>{SITE_TITLE}</title>
    <meta charset="utf-8" />
  </head>
  <body class="bg-black">
    <main class="m-5">
		<h1 class="text-white">Coming soon...</h1>
		<p class="text-sm text-neutral-400">Sidney Silva</p>
	</main>
  </body>
</html>
