---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <title>{SITE_TITLE}</title>
    <meta charset="utf-8" />
  </head>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}
		main {
			margin: 0 auto;
			max-width: 800px;
			padding: 20px;
		}
		h1 {
			font-size: 2em;
		}
		p {
			font-size: 1.2em;
		}
	</style>
  <body>
    <main>
      <h1>Coming soon...</h1>
    </main>
  </body>
</html>
