<html lang="en">
	<head>
		
	</head>

	<body>
		
		<main>
			<article>
				Hello this is a Java tutorial.
				<!-- Aqui dentro van las cosas del blog y tal: el título, la descripción y eso -->
			</article>
		</main>
	</body>
</html>
