---
import Navbar from "../components/Navbar.astro";
import styles from "../styles/global.css"

const {title} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body class="bg-black flex flex-col items-center">
  <Navbar />
  <main class="max-w-screen-md w-full p-4 flex flex-col">
    <slot />
  </main>
</body>
</html>